<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
    </configSections>
    <unity>
        <typeAliases>
            <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
            <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
            <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />

            <typeAlias alias="IUnitOfWork" type="RoRoWo.Blog.Domain.IUnitOfWork, RoRoWo.Blog.Domain" />
            <typeAlias alias="RoRoWoDBEntities" type="RoRoWo.Blog.Infrastructure.RoRoWoDBEntities, RoRoWo.Blog.Infrastructure" />

            <typeAlias alias="IRepository" type="RoRoWo.Blog.Domain.IRepository, RoRoWo.Blog.Domain" />

            <typeAlias alias="IArticleRepository" type="RoRoWo.Blog.Repository.IArticleRepository, RoRoWo.Blog.Repository" />
            <typeAlias alias="ArticleRepository" type="RoRoWo.Blog.Infrastructure.Repository.ArticleRepository, RoRoWo.Blog.Infrastructure" />

            <typeAlias alias="ICategoryRepository" type="RoRoWo.Blog.Repository.ICategoryRepository, RoRoWo.Blog.Repository" />
            <typeAlias alias="CategoryRepository" type="RoRoWo.Blog.Infrastructure.Repository.CategoryRepository, RoRoWo.Blog.Infrastructure" />

            <typeAlias alias="IArticleServices" type="RoRoWo.Blog.Services.IArticleServices, RoRoWo.Blog.Services" />
            <typeAlias alias="ArticleServices" type="RoRoWo.Blog.Services.ArticleServices, RoRoWo.Blog.Services" />

            <typeAlias alias="ICategoryServices" type="RoRoWo.Blog.Services.ICategoryServices, RoRoWo.Blog.Services" />
            <typeAlias alias="CategoryServices" type="RoRoWo.Blog.Services.CategoryServices, RoRoWo.Blog.Services" />

            <typeAlias alias="IControllerFactory" type="System.Web.Mvc.IControllerFactory, System.Web.Mvc" />
            <typeAlias alias="UnityControllerFactory" type="RoRoWo.Blog.Common.IoCResolver.Unity.UnityControllerFactory, RoRoWo.Blog.Common" />

            <typeAlias alias="ICache" type="RoRoWo.Blog.Cache.ICache, RoRoWo.Blog.Cache" />
            <typeAlias alias="WebCaching" type="RoRoWo.Blog.Cache.WebCaching, RoRoWo.Blog.Cache" />
            
            <!--控制器 开始-->
            <typeAlias alias="BlogController" type="RoRoWo.Blog.Web.Controllers.BlogController, RoRoWo.Blog.Web" />
            <typeAlias alias="PartialViewController" type="RoRoWo.Blog.Web.Controllers.PartialViewController, RoRoWo.Blog.Web" />
            <typeAlias alias="AjaxController" type="RoRoWo.Blog.Web.Controllers.AjaxController, RoRoWo.Blog.Web" />
            <!--控制器 结束-->
        </typeAliases>

        <containers>
            <container name="ContainerEF">

                <!--使用 name 属性-->
                <register name="UnitOfWorkContext" type="IUnitOfWork" mapTo="RoRoWoDBEntities">
                    <lifetime type="perThread"></lifetime>
                </register>

                <!--不使用 name 属性-->
                <register type="IUnitOfWork" mapTo="RoRoWoDBEntities">
                    <lifetime type="perThread"></lifetime>
                </register>

                <!--使用 name 属性-->
                <register name="articleRepository" type="IArticleRepository" mapTo="ArticleRepository">
                    <constructor>
                        <param name="_context">
                            <dependency name="UnitOfWorkContext"></dependency>
                        </param>
                    </constructor>
                </register>

                <!--不使用 name 属性-->
                <register type="IArticleRepository" mapTo="ArticleRepository">
                    <constructor>
                        <param name="_context">
                            <dependency name="UnitOfWorkContext"></dependency>
                        </param>
                    </constructor>
                </register>

                <register type="ICategoryRepository" mapTo="CategoryRepository">
                    <constructor>
                        <param name="_context">
                            <dependency name="UnitOfWorkContext"></dependency>
                        </param>
                    </constructor>
                </register>

                <register type="IArticleServices" mapTo="ArticleServices">
                    <constructor>
                        <param name="_context">
                            <dependency name="UnitOfWorkContext"></dependency>
                        </param>
                        <param name="_Repository">
                            <dependency type="ArticleRepository"></dependency>
                        </param>
                        <param name="_categoryRepository">
                            <dependency type="CategoryRepository"></dependency>
                        </param>
                    </constructor>
                </register>

                <register type="ICategoryServices" mapTo="CategoryServices">
                    <constructor>
                        <param name="_context">
                            <dependency name="UnitOfWorkContext"></dependency>
                        </param>
                        <param name="_Repository">
                            <dependency type="CategoryRepository"></dependency>
                        </param>
                    </constructor>
                </register>

                <register type="ICache" mapTo="WebCaching">
                </register>

                <!--控制器实例(如果不配置，IoC可以自动装配的) 开始-->

                <register type="IControllerFactory" mapTo="UnityControllerFactory">                   
                </register>
                
                <register type="BlogController" mapTo="BlogController">
                    <constructor>
                        <param name="articleService">
                            <dependency type="ArticleServices"></dependency>
                        </param>
                    </constructor>
                </register>

                <register type="PartialViewController" mapTo="PartialViewController">
                    <constructor>
                        <param name="categoryService">
                            <dependency type="CategoryServices"></dependency>
                        </param>
                    </constructor>
                </register>

                <register type="AjaxController" mapTo="AjaxController">
                </register>
                <!--控制器实例 结束-->

            </container>
        </containers>
    </unity>
</configuration>
