<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
    </configSections>

    <connectionStrings>
        <add name="RoRoWoDBEntities" connectionString="metadata=res://*/RoRoWoDB.csdl|res://*/RoRoWoDB.ssdl|res://*/RoRoWoDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=RoRoWoDB;Persist Security Info=True;User ID=sa;Password=2010;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <appSettings>
        <add key="dependencyResolverTypeName" value="RoRoWo.Blog.Common.IoCResolver.Unity.UnityDependencyResolver, RoRoWo.Blog.Common" />
    </appSettings>

    <!--<unity configSource="config\unity\unity.di.blog.config"></unity>-->

    <unity>
        <typeAliases>
            <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
            <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
            <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />

            <typeAlias alias="IUnitOfWork" type="RoRoWo.Blog.Domain.IUnitOfWork, RoRoWo.Blog.Domain" />
            <typeAlias alias="RoRoWoDBEntities" type="RoRoWo.Blog.Infrastructure.RoRoWoDBEntities, RoRoWo.Blog.Infrastructure" />

            <typeAlias alias="IRepository" type="RoRoWo.Blog.Domain.IRepository, RoRoWo.Blog.Domain" />

            <typeAlias alias="IArticleRepository" type="RoRoWo.Blog.Repository.IArticleRepository, RoRoWo.Blog.Repository" />
            <typeAlias alias="ArticleRepository" type="RoRoWo.Blog.Infrastructure.Repository.ArticleRepository, RoRoWo.Blog.Infrastructure" />

            <typeAlias alias="ICategoryRepository" type="RoRoWo.Blog.Repository.ICategoryRepository, RoRoWo.Blog.Repository" />
            <typeAlias alias="CategoryRepository" type="RoRoWo.Blog.Infrastructure.Repository.CategoryRepository, RoRoWo.Blog.Infrastructure" />

            <typeAlias alias="IArticleServices" type="RoRoWo.Blog.Services.IArticleServices, RoRoWo.Blog.Services" />
            <typeAlias alias="ArticleServices" type="RoRoWo.Blog.Services.ArticleServices, RoRoWo.Blog.Services" />

            <typeAlias alias="ICategoryServices" type="RoRoWo.Blog.Services.ICategoryServices, RoRoWo.Blog.Services" />
            <typeAlias alias="CategoryServices" type="RoRoWo.Blog.Services.CategoryServices, RoRoWo.Blog.Services" />

        </typeAliases>

        <containers>
            <container name="ContainerEF">
                <register name="UnitOfWorkContext" type="IUnitOfWork" mapTo="RoRoWoDBEntities">
                    <lifetime type="perThread"></lifetime>
                </register>

                <register name="articleRepository" type="IArticleRepository" mapTo="ArticleRepository">
                    <constructor>
                        <param name="_context">
                            <dependency name="UnitOfWorkContext"></dependency>
                        </param>
                    </constructor>
                </register>

                <register name="categoryRepository" type="ICategoryRepository" mapTo="CategoryRepository">
                    <constructor>
                        <param name="_context">
                            <dependency name="UnitOfWorkContext"></dependency>
                        </param>
                    </constructor>
                </register>

                <register name="articleServices" type="IArticleServices" mapTo="ArticleServices">
                    <constructor>
                        <param name="_context">
                            <dependency name="UnitOfWorkContext"></dependency>
                        </param>
                        <param name="_Repository">
                            <dependency name="articleRepository"></dependency>
                        </param>
                        <param name="_categoryRepository">
                            <dependency name="categoryRepository"></dependency>
                        </param>
                    </constructor>
                </register>

                <register name="categoryServices" type="ICategoryServices" mapTo="CategoryServices">
                    <constructor>
                        <param name="_context">
                            <dependency name="UnitOfWorkContext"></dependency>
                        </param>
                        <param name="_Repository">
                            <dependency name="categoryRepository"></dependency>
                        </param>
                    </constructor>
                </register>
            </container>
        </containers>
    </unity>

</configuration>