<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RoRoWoDBEntities" connectionString="metadata=res://*/RoRoWoDB.csdl|res://*/RoRoWoDB.ssdl|res://*/RoRoWoDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=RoRoWoDB;Persist Security Info=True;User ID=sa;Password=2010;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>