<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RoRoWoDBEntities" connectionString="metadata=res://*/BlogDB.csdl|res://*/BlogDB.ssdl|res://*/BlogDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JQ-173-PC\SQLEXPRESS;Initial Catalog=RoRoWoDB;User ID=sa;Password=ddd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>